<h1>Flat show</h1>
<ul>
<li><strong>Title:</strong> <%= @flat.title %></li>
<li><strong>Description:</strong> <%= @flat.description %></li>
<li><strong>Beds:</strong> <%= @flat.beds %></li>
<li><strong>Street:</strong> <%= @flat.street %></li>
<li><strong>City:</strong> <%= @flat.city %></li>
<li><strong>Postcode:</strong> <%= @flat.postcode %></li>
<li><strong>Price:</strong> <%= @flat.price %></li>
</ul>

<%=link_to flats_path(@flat) do%>
  <button type="button" class="btn btn-primary">return list of flat</button>
<%end%>




