<div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500?image=27')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Alors tu vas me le donner ton blé ?</h1>
  </div>
</div>

<div class="container">
  <div class="home">
    <div class="row">
      <h2>Si tu book, je me casse la gueule au bistrot</h2>
    </div>


<ul>
<li><strong>Title:</strong> <%= @flat.title %></li>
<li><strong>Description:</strong> <%= @flat.description %></li>
<li><strong>Beds:</strong> <%= @flat.beds %></li>
<li><strong>Street:</strong> <%= @flat.street %></li>
<li><strong>City:</strong> <%= @flat.city %></li>
<li><strong>Postcode:</strong> <%= @flat.postcode %></li>
<li><strong>Price:</strong> <%= @flat.price %></li>
</ul>

<%=link_to flats_path(@flat) do%>
  <button type="button" class="btn btn-primary">Return list of flat</button>
<%end%>

<%=link_to new_flat_booking_path(@flat) do%>
  <button type="button" class="btn btn-primary">Add a booking</button>
<%end%>



