<h1> Add a new Flat </h1>


<%= simple_form_for [:account, @flat] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :beds %>
  <input class="pretty-field" id="user_input_autocomplete_address" type="text" placeholder="Adress">
  <input id="street_number" type="hidden" name="street_number" disabled>
  <input id="route" type="hidden" name="route" disabled>
  <input id="locality" type="hidden" name="locality" disabled>
  <input id="country" type="hidden" name="country" disabled>
  <%= f.input :price %>
  <%= f.submit "enregistrer" %>
<% end %>
